{% extends 'base.html' %}
{% load static %}
{% block title %} О нас {% endblock %}

{% block content %}
  <div class="container">
    <img class="img-fluid" src="{% static '/img/welcome.png' %}" width="500"
         height="300" alt="Store">
    <h3>Наш магазин предлагает широкий ассортимент товаров для людей всех
      возрастов и интересов.
      <br>У нас вы можете найти нечто для себя, будь то электроника,
      музыкальные инструменты, игрушки,
      одежда и обувь, и многое другое.
      <br>Мы гарантируем высокое качество и приемлемые цены для всех
      предлагаемых товаров.
      <br>Наши сотрудники всегда готовы помочь вам с любыми вопросами и
      проблемами, а также предоставить полезную информацию о предлагаемых
      товарах.
    </h3>
  </div>


{% endblock %}