{% for item in items %}
  <div class="col-md-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column justify-content-center align-items-center position-static">

        <h2>{{ item.name }} </h2>
        {% load thumbnail %}
        {% thumbnail item.main_image.image "300x300" crop="center" as im %}
          <img src="{{ im.url }}"
               width="{{ im.width }}"
               height="{{ im.height }}"
               class="rounded float-end"
               alt="Картинка товара">
        {% endthumbnail %}

        <ul>
          <li>
            Категория: {{ item.category.name }}
          </li>
          <li>
            Теги:
            {% for tag in item.tags.all %}
              {{ tag.name }}
              {% if not forloop.last %}
                ,
              {% endif %}
            {% empty %}
              <p>тегов нет</p>
            {% endfor %}
          </li>
        </ul>

        <div class="card-body">
          <p>{{ item.text |safe|truncatewords_html:10 }}</p>
        </div>
        <a class="btn btn-primary"
           href="{% url 'catalog:item_detail' item.id %}"> подробная
          информация </a>

      </div>
    </div>
  </div>
{% endfor %}