{% extends 'base.html' %}
{% load static %}
{% block title %} Каталог товаров {% endblock %}
{% block content %}
  <div class="container">
    <h1>Каталог товаров</h1>
    <hr>
    {% for item in items %}
      <div class="container mb-3">
        {% ifchanged %}
          <br>
          <h4>Категория: {{ item.category.name }} </h4>
        {% endifchanged %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>

            {% load thumbnail %}
            {% thumbnail item.main_image.image "100x100" crop="center" as im %}
              <img src="{{ im.url }}"
                   width="{{ im.width }}"
                   height="{{ im.height }}"
                   class="rounded float-end"
                   alt="Картинка товара">
            {% endthumbnail %}

            {{ item.text|safe|truncatewords:10 }}
            <br>
            <p><a href="{% url 'catalog:item_detail' item.id %}">
              Подробнее о товаре</a></p>
          </div>
          <div class="card-footer text-muted">
            Теги:
            {% for tag in item.tags.all %}
              {{ tag.name }}{% if not forloop.last %},
              {% endif %}
            {% empty %}
              <p>Тегов пока нет</p>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}