{% extends 'base.html' %}
{% block title %} Личный кабинет {% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">

      <h1 class="text-center"> Личный кабинет </h1>

      <div class="form-group col-sm-5 mx-auto mb-2">

        {% if messages %}
          <div class="">
            <p></p>
            {% for message in messages %}
              <h4{% if message.tags %}
                class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
            {% endfor %}
          </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}

            {{ field.label_tag }}
            <p>{{ field }}</p>
            {% if field.help_text %}
              <p class="form-text text-muted">{{ field.help_text }}</p>
            {% endif %}
          {% endfor %}

          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error|escape }}
            </div>
          {% endfor %}




          {% for field in form_profile %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}

            {{ field.label_tag }}
            {% if user.profile.image and 'Аватарка' in field.label_tag %}
              {% load thumbnail %}
              {% thumbnail user.profile.image "300" crop="center" as im %}
                <img class="my-2"
                     src="{{ im.url }}"
                     width="{{ im.width }}"
                     height="{{ im.height }}"
                     class="rounded float-end"
                     alt="Аватарка">
              {% endthumbnail %}
            {% endif %}
            <p>{{ field }}</p>
            {% if field.help_text %}
              <p class="form-text text-muted">{{ field.help_text }}</p>
            {% endif %}
          {% endfor %}

          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error|escape }}
            </div>
          {% endfor %}

          <label for="id_coffee_count">Количество попыток сварить кофе:</label>
          <p>
            <sub type="number" class="form-control"
                 id="id_coffee_count">{{ user.profile.coffee_count }}</sub>
          </p>
          <p>
            <button class="w-100 btn btn-outline-primary btn-lg" type="submit"
                    formaction="{% url 'homepage:coffee' %}">
              Выпить кофе
            </button>
          </p>

          <button class="w-100 btn btn-outline-primary btn-lg" type="submit">
            Сохранить
          </button>

        </form>
      </div>

    </div>
  </div>
{% endblock %}