{% extends 'base.html' %}
{% block title %} Пользователь {{ user.username }} {% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <h2 class="text-center">{{ user.username }}</h2>

      {% if user.profile.image %}
        {% load thumbnail %}
        {% thumbnail user.profile.image "300" crop="center" as im %}
          <img class="my-2"
               src="{{ im.url }}"
               width="{{ im.width }}"
               height="{{ im.height }}"
               class="rounded float-end"
               alt="Аватарка">
        {% endthumbnail %}
      {% endif %}

      <ul>
        <li>
          Email: {{ user.email }}
        </li>
        <li>
          Имя:
          {% if user.first_name %}
            {{ user.first_name }}
          {% else %}
            <div class="d-inline-block text-muted">-не указано-</div>
          {% endif %}
        </li>
        <li>
          Фамилия:
          {% if user.last_name %}
            {{ user.last_name }}
          {% else %}
            <div class="d-inline-block text-muted">-не указано-</div>
          {% endif %}
        </li>
        <li>
          Дата рождения:
          {% if user.profile.birthday %}
            {{ user.profile.birthday }}
          {% else %}
            <div class="d-inline-block text-muted">-не указано-</div>
          {% endif %}
        </li>
        <li>
          Количество попыток сварить кофе: {{ user.profile.coffee_count }}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
