{% extends 'base.html' %}
{% block title %} Пользователь {{ user_pk.username }} {% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <h2 class="text-center">{{ user_pk.username }}</h2>

      {% if user_pk.profile.image %}
        {% load thumbnail %}
        {% thumbnail user_pk.profile.image "300" crop="center" as im %}
          <img class="my-2"
               src="{{ im.url }}"
               width="{{ im.width }}"
               height="{{ im.height }}"
               class="rounded float-end"
               alt="Аватарка">
        {% endthumbnail %}
      {% endif %}

      <ul>
        <li>
          Email: {{ user_pk.email }}
        </li>
        <li>
          Имя:
          {% if user_pk.first_name %}
            {{ user_pk.first_name }}
          {% else %}
            <div class="d-inline-block text-muted">-не указано-</div>
          {% endif %}
        </li>
        <li>
          Фамилия:
          {% if user_pk.last_name %}
            {{ user_pk.last_name }}
          {% else %}
            <div class="d-inline-block text-muted">-не указано-</div>
          {% endif %}
        </li>
        <li>
          Дата рождения:
          {% if user_pk.profile.birthday %}
            {{ user_pk.profile.birthday }}
          {% else %}
            <div class="d-inline-block text-muted">-не указано-</div>
          {% endif %}
        </li>
        <li>
          Количество попыток сварить кофе:
          {% if not user_pk.profile.coffee_count %}
            0
          {% else %}
            {{ user_pk.profile.coffee_count }}
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
